*{
    margin:0;
    padding:0;
}
body{
    font-family: "Nunito", sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

/* navigation */

.auth-box{
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.nav-item{
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}

.lang{
    text-decoration: none;
    margin-left: 50px;
}

.header{
    margin-top: 100px;
}

.hero{
    align-items: center;
}

.hero .title h1{
    font-size: 3rem;
}

/* end navigation */

/* main page services */

.services{
    position: relative;
    margin-top: 100px;
    background-color: silver;
    padding: 15px;
}

.services_box{
    max-width: 700px;
    margin: 20px auto;
}

.services_item_box {
    display: inline-block;
    transition: transform 0.3s ease;
}
  
.services_item_box:hover {
    transform: scale(1.1);
}

.services_item{
    background: red;
    padding: 20px;
    border-radius: 10px;
    /*! display: flex; */
    /*! justify-content: center; */
    margin-bottom: 20px;
}